apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./deployment.yaml
- ./service.yaml
- ./ingress.yaml

images:
- name: bn256-portfolio
  newName: ghcr.io/blancnoir256/Portfolio-V2-application
  newTag: main

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
- files:
  - tls.crt=secrets/tls.crt
  - tls.key=secrets/tls.key
  name: bn256-portfolio-tls-secret
  type: kubernetes.io/tls
- files:
  - .dockerconfigjson=secrets/dockerconfig.json
  name: bn256-portfolio-ghcr-secret
  type: kubernetes.io/dockerconfigjson
