resources:
  - ./deployment.yaml
  - ./service.yaml
  - ./ingress.yaml

secretGenerator:
- name: bn256-portfolio-tls-secret
  type: kubernetes.io/tls
  files:
  - tls.crt=secrets/tls.crt
  - tls.key=secrets/tls.key
